@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #cecece;
}


table.game {
    /* height: 500px;
    width: 500px; */
    /* border: 1px solid; */
    border-collapse: collapse;
}
.game td {
    text-align: center;
    vertical-align: center;
    border: solid 2px;
    height: 33px;
    width: 33px;
    background-color: #e3e3e3;
}

td span {
    font-family: 'Anton', sans-serif;
}

td img {
    padding: 0;
    width: 25px;
    overflow: hidden;
}

.invisible {
    visibility: hidden;
}

td.flag {
background-color: red;
}